@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .top-margin-spacing {
    @apply mt-8;
  }
  .link
  {
    @apply text-dark-accent dark:text-light-accent underline;
  }
   .insetter {
    @apply inset-0 transition-shadow;
    box-shadow: inset 0 0 0 2rem theme("colors.light-primary");
  }
  .dark .insetter {
      box-shadow: inset 0 0 0 2rem theme("colors.dark-secondary");
    }
    
  .insetter:hover {
    box-shadow: inset 0 0 0 2rem transparent;
  }
  .clipper{
    @apply overflow-hidden;
    clip-path: inset(0);
  }
  .inverted-text
  {
    @apply text-dark-text dark:text-light-text
  }
}

body {
  @apply w-full select-none h-[100dvh] overflow-y-auto text-lg lg:text-2xl;
  
}

h1{
  @apply font-display font-bold text-3xl lg:text-5xl hyphens-auto;
}
h2{
  @apply font-display font-bold text-2xl lg:text-4xl hyphens-auto;
}
h3{
  @apply font-display font-bold text-xl lg:text-3xl hyphens-auto;
}